<div>
    <form class="order_form" ng-submit="createOrder()">
        <h3>Ваша корзина</h3>

        <div class="form-floating mb-3">
            <label for="floatingInput1">Адрес доставки:</label>
            <input type="text" class="form-control" id="floatingInput1" ng-model="orderInfo.address"
                   placeholder="Адрес доставки">
        </div>
        <div class="form-floating">
            <label for="floatingInput2">Номер телефона:</label>
            <input type="text" class="form-control" id="floatingInput2" ng-model="orderInfo.phone"
                   placeholder="Номер телефона">
        </div>
    </form>


    <table class="table table-hover" cellpadding="" 0 cellspacing="0">
        <tr>
            <td>Артикул</td>
            <td>Наименование</td>
            <td>Количество</td>
            <td>Цена</td>
            <td>Сумма</td>
            <td>Действие</td>
        </tr>
        <tbody>
        <tr ng-repeat="p in ProductsList.cartMap">
            <td>{{p.id}}</td>
            <td>{{p.title}}</td>
            <td>
                <button type="button" class="btn btn-secondary" ng-click="deleteProductFromCart(p.id)">
                    <b2>-</b2>
                </button>
                {{p.amount}}
                <button type="button" class="btn btn-secondary" ng-click="addToCart(p.id)">
                    <b2>+</b2>
                </button>
            </td>
            <td>{{p.price}}</td>
            <td>{{p.price*p.amount}}</td>
            <td>
                <button class="btn btn-danger" ng-click="deleteProductStringFromCart(p.id)">Удалить товар</button>
            </td>
        </tr>
        </tbody>
        <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>Итого</td>
            <td>{{ProductsList.cartCost}}</td>
            <td>
                <button class="btn btn-danger" ng-click="clearCart()">Очистить корзину</button>
                <button class="btn btn-danger" ng-click="createOrder()">Создать заказ</button>
            </td>
        </tr>
        </tbody>
    </table>

</div>