<div class="container" ng-controller="authController">

    <div ng-show="isUserLoggedIn()">
        <label>
            <h3>
                Добро пожаловать в магазин {{userName}}
            </h3>
        </label>
    </div>
    <div class="password">
        <form class="password_form" ng-submit="tryToAuth()" ng-show="!isUserLoggedIn()">
            <h3 class="password_field_header">Авторизация:</h3>
            <div class="password_fields">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" ng-model="user.username" placeholder="Username">
                    <label for="floatingInput">Имя пользователя</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword"  ng-model="user.password" placeholder="Password">
                    <label for="floatingPassword">Пароль</label>
                </div>
                <div class="submit_btn">
                    <button class="btn btn-danger" ng-href="#" type="submit">Принять</button>
                </div>
            </div>

        </form>
        <div>
            <h3 ng-show="isUserLoggedIn()"><button class="btn btn-danger" ng-click="tryToLogout()" type="submit">Выйти</button></h3>
        </div>
    </div>

</div>